<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <!-- Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregarReserva" class="py-4 mb-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarReserva">
                            <i class="fas fa-plus"></i> 
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Fragmento para agregar reserva, es la ventana modal -->
        <section th:fragment="AgregarReserva">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/reserva/guardar}" 
                          th:object="${reserva}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Agregar Reserva</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="nombre">Nombre</label>
                                                    <input type="text" class="form-control" 
                                                           name="nombre" 
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="huespedes">Numero de huespedes</label>
                                                    <input type="text" class="form-control" 
                                                           name="huespedes" 
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="inicio">Fecha de Entrada</label>
                                                    <input type="date" class="form-control" 
                                                           name="inicio" 
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="fin">Fecha de Salida</label>
                                                    <input type="date" class="form-control" 
                                                           name="fin" 
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="hotel">Hotel</label>
                                                    <input type="text" class="form-control" 
                                                           name="hotel" 
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="cedula">Cedula</label>
                                                    <input type="text" class="form-control" 
                                                           name="cedula" 
                                                           required="true">
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-primary" type="submit">Guardar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>


        <!-- Sección principal para mostrar la información de las reservas -->
        <section th:fragment="listadoReservas" id="reservas">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado de Reservas</h4>
                            </div>
                            <div th:if="${reservas != null and !reservas.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr>
                                            <th class="text-center">ID Reserva</th>
                                            <th class="text-center">Cliente</th>
                                            <th class="text-center">Numero de huespedes</th>
                                            <th class="text-center">Fecha de entrada</th>
                                            <th class="text-center">Fecha de salida</th>
                                            <th class="text-center">Hotel</th>
                                            <th class="text-center">Numero de cedula</th>
                                            <th></th><th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="reserva, contador : ${reservas}">
                                            <td class="fs-6" th:text="${reserva.id}"></td>
                                            <td class="fs-6" th:text="${reserva.nombre}"></td>
                                            <td class="fs-6" th:text="${reserva.huespedes}"></td>
                                            <td class="fs-6" th:text="${reserva.inicio}"></td>
                                            <td class="fs-6" th:text="${reserva.fin}"></td>
                                            <td class="fs-6" th:text="${reserva.hotel}"></td>
                                            <td class="fs-6" th:text="${reserva.cedula}"></td>
                                            <td>
                                                <a th:href="@{/reserva/eliminar/}+${reserva.id}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> Eliminar
                                                </a>
                                            </td>
                                            <td>
                                                <a th:href="@{/reserva/modificar/}+${reserva.id}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> Actualizar
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${reservas == null or reservas.empty}">
                                <span>No hay reservas registradas</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <!-- Aquí puedes agregar cualquier otra cosa que desees mostrar, como estadísticas -->
                    </div>
                </div>
            </div>
        </section>

        <!-- Fragmento que se utiliza en la página modifica.html -->
        <section th:fragment="editarReserva">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/reserva/guardar}" 
                          th:object="${reserva}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="id" th:field="*{id}"/>
                        <section th:replace="~{reserva/fragmentos :: botonesEditarReserva}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Editar Reserva</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="nombre">Nombre</label>
                                                    <input type="text" class="form-control" 
                                                           name="nombre" th:field="*{nombre}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="huespedes">Numero de huespedes</label>
                                                    <input type="text" class="form-control" 
                                                           name="huespedes" th:field="*{huespedes}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="inicio">Fecha de Entrada</label>
                                                    <input type="date" class="form-control" 
                                                           name="inicio" th:field="*{inicio}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="fin">Fecha de Salida</label>
                                                    <input type="date" class="form-control" 
                                                           name="fin" th:field="*{fin}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="hotel">Hotel</label>
                                                    <input type="text" class="form-control" 
                                                           name="hotel" th:field="*{hotel}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="cedula">Cedula</label>
                                                    <input type="text" class="form-control" 
                                                           name="cedula" th:field="*{cedula}"
                                                           required="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditarReserva">
            <div class="container py-4 mb-4">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/reserva/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> 
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/reserva/eliminar/}+${reserva.id}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> 
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> 
                        </button>
                    </div>
                </div>
            </div>
        </section>



    </body>
</html>